# Learning Objectives

- [ ]  2.2.1 Understand the different types: integer `int`, real `float`, char `chr`, string `str` and Boolean `Boolean` and initialise arrays `list`, `tuple` (1-dimensional and 2-dimensional). 

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/njc-cz2-2021/Materials/blob/main/365-Days-of-H2-Computing/Day_012.ipynb)

#### Exercise D12.1 Dude, What's my Index?

Consider the following list

```python
[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9, 3, 2, 3, 8, 4, 6, 2, 6, 4, 3, 3, 8, 3, 2, 7, 9, 5, 0, 2, 8, 8]
```

Write a program that print out:
- the indices of occurence of each digit (0-9) in the list, and 
- its number of occurences in the list 
in the following format.

>```text
> <DIGIT> <LIST_OF_INDICES> <NO_OF_OCCURENCES>
>```

Example Output: 

>```text
> Digit 0 : [32] : 1 
>```

Try your program again with the following list.

```python
[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9, 3, 2, 3, 8, 4, 6, 2, 6, 4, 3, 3, 8, 3, 2, 7, 9, 5, 2, 8, 8]
```

In [ ]:
#YOUR CODE HERE

#### Exercise D12.2 Some Heights Statistics

Write a program that:
- ask user to input the heights value (in centimeter) of $n$ students. The entered values are integer.
- store the input values in list and print the list out
- display the lowest, highest and mean of the height of these $n$ students. In case you have forgotten, mean is the arithmetic average.  

Example Output: 

>```text
>Number of heights to be entered: 4
>100
>120
>110
>130
>The list of heights: [100,120,110,130]
>Minimum height is 100 cm, maximum height is 130 cm and the average height is 115.0 cm.
>```

In [ ]:
#YOUR CODE HERE

#### Exercise D12.3 Binning

In a school the grades obtained by a student in a certain subject depends on their mark, ranging from 0 to 100, obtained for the subject and it follows the following table.

<center>

| Marks ($m$)| Grade |
|-------|-------|
|   $m<40$    |    U     |
|   $40\leq m\leq 44$     |    S     |
|   $45\leq m\leq 49$    |    E     |
|   $50\leq m\leq 54$    |    D     |
|   $55\leq m\leq 59$    |    C     |
|   $60\leq m\leq 69$    | B     |
|   $m\geq 70$    |    A     |

</center>

Following are the list of marks obtained by students from 2 different classes. `mark_1` is a list from one class and `mark_2` is a list from the other class.

```python
mark_1 = [46, 41, 74, 53, 31, 39, 49, 57, 76, 80, 78, 38, 31, 56, 98, 55, 41, 73, 23, 88, 55, 60, 33, 40]
mark_2= [69, 48, 50, 95, 87, 11, 28, 36, 25, 70, 25, 54, 33, 42, 27, 24, 44, 20, 61, 43, 30, 44, 7, 21]
```

Write a program that:
- print outs the list of the students in each grade group for each of the classes in an *descending order* in the following format
>```text
><GRADE> <LIST OF DESCENDING MARKS> <NO OF STUDENTS IN THE LIST>
>```
- if there are no students receiving such grade, print the empty list `[]`.

Example Output: 
>```text
>#Assume the marks are stored in the list [39,45,66,68,75]
>U: [39] 1 
>S: [] 0 
>E: [45] 1 
>D: [] 0 
>C: [] 0 
>B: [68,66] 2 
>A: [75] 1 
>```

In [ ]:
#YOUR CODE HERE

## Exercise 3.4 A Funny Interest

Mr. $B$ was offered an investment opportunity with a company where if he was to invest \$1000, he was guaranteed a $100%$ yearly interest rate, i.e. Mr. $B$ will be receive \$2000 after 1 year, inclusive of his capital.  

A friend of his that work in the company offers him another deal: same capital \$1000, same yearly interest rate of $100%$ but applied quarterly for a year, meaning every 3 months, the applied interest rate to the current amount is $\frac{100}{4}\%=25\%$. So, after 3rd month, his investment becomes \$1250. After 6th month, it's \$1562.50. After 9th month, it's \$1953.13. 
Under this scheme, how much would Mr. $B$'s investment worth after a full year?

Suppose that instead of applying the interest rate of 100% quarterly, a human error caused the interest rate to be applied *hourly* instead, for a full year. How much value will Mr. $B$'s investment worth then?

In [ ]:
#YOUR CODE HERE

## Exercise 3.5 Doubling My Money

A customer is considering to deposit her money into a savings account with one of the locally available banks. As of 5th March 2021, the interest rates offered are given in the following table:

<center>

|         Savings Account        | Yearly Interest rate (%) |
|:------------------------------:|:-----------------:|
| BOC SmartSaver                 |         1         |
| DBS Multiplier Account         |        0.4        |
| UOB One Account                |        0.5        |
| Standard Chartered Bonus$saver |        0.38       |
| OCBC 360 Account               |        0.55       |

</center>

Write a program that:
- Prints out a list that contains the number of years that is required for the money in savings account to double for each type of savings account.

Example output: 

>With 1% yearly interest rate with BOC SmartSaver, it will take ___ years for the money to double.<br>

For each of the savings account, compare the number of years obtained in the earlier part with the number $\frac{72}{100r}$, where $r$ is the yearly interest rate. What do you observe? Can you explain your observation?

#YOUR CODE HERE

## Exercise 3.6 Arithmetic Sequence Revisited

Recall from Exercise 1.2, an **arithmetic sequence** is a sequence of real numbers 
$$u_1,u_2,\cdots, u_n$$
such that the difference between two consecutive terms is constant, i.e. $u_{n+1}-u_n=d$ for some constant $d\in \mathbb{R}$ and $d\neq 0$, called the **common difference** and $n\geq 1$.

The problem: 
- Request a numeric input from the user to be used as the first term.  Let us denote this input as `first_term`.
- Request a numeric input from the user to be used as the common difference.  Let us denote this input as `common_difference`.
- Request an integer input greater or equal to $4$ from the user for the number of terms.  Let us denote this input as `number_of_terms`. 
- Print out the list that contains the arithmetic sequence up to the $n$th term, where $n =$ `number_of_terms`.
- Print the list that contains the first 3 terms of the arithmetic sequence. 
- Print the list that contains the last 4 terms of the arithmetic sequence. 
- Use an inbuilt function that accepts list as an input to calculate the sum of the first $n$ terms of the arithmetic sequence.

Example interaction: 

>Please input the first term in the arithmetic sequence:<br>
>2<br>
>Please input the common difference:<br>
>3<br>
>Please input the number of terms:<br>
>5<br>
>The list containing the first 5 terms of the arithmetic sequence are:<br>
>\[2,5,8,11,14\]<br>
>The list of the first 3 terms of the sequence is:<br>
>\[2,5,8\]<br>
>The list of the last 4 terms of the sequence is:<br>
>\[5,8,11,14\]<br>
>The sum of all the terms in the sequence is:<br>
>40<br>

In [ ]:
#YOUR CODE HERE