# Exercise 16

Related Notes:
- Fundamentals_10-SQL-Databases

## Exercise 16.1 2019/A Level/P2/Q2 H2 Computing
A bakery bakes bread and cakes to sell in its own shop and to other shops throughout a city. Its drivers visit every shop each day, delivering that day’s order and collecting the order for the next day. 
Order forms are pre-printed with the name of each shop and every item that the bakery bakes. The manager of each shop writes onto the form the quantity of each item required. When the drivers return to the bakery. the data from the order forms are collated to give the bakers the total of each item to bake. 
Copies of the order forms are made and used as delivery notes for the next day’s deliveries. The accounts department use the original order forms to prepare a weekly invoice for each shop.

The bakery wants the shops to submit their orders online. 

A program is needed to determine the number of each item needed and produce the weekly invoice for each shop.

The new program will use a relational database with three tables: Product, Shop and Order. 

Each product has a description. price. and a unique product ID number. 

Each shop has a name. an address, telephone number. manager's name, and a unique shop iD number. 

Each order has a product lD, a quantity, a shop ID and a date for delivery. 

1. Draw an Entity-Relationship (E-R) diagram showing the three tables and the relationships between them.
<div style="text-align: right">[5]</div>

2. A table description can be expressed as: <br>
<br>
    $\text{TableName}\left(\underline{\text{Attribute1}},\text{ Attribute2, Attribute3, }\dots \right )$ <br>
    <br>
    The primary key is indicated by underlining one or more attributes. <br>
    <br>
    Write table descriptions for the three tables.     
<div style="text-align: right">[4]</div>

The bakery can change the price of an item at any time. Validation ensures that the new price is within specified limits and is more likely to be correct.

3. i. Explain why this could still result in incorrect weekly invoices, assuming that the new price input is correct. <br>  
    <div style="text-align: right">[2]</div>
    ii. Describe changes to the database and draw a modified E-R diagram to ensure correct invoices are created. <br>     
        <div style="text-align: right">[4]</div>

In [ ]:
#YOUR_ANSWER_HERE

## Exercise 16.2 2017/A Level/P2/Q6 H2 Computing
A computer company has several offices throughout the country, each with several salespersons. A record of the sales made by each salesperson has been set up using a relational database.
There is a minimum amount of $150 for each sale.

The following tables hold the data.

$\text{CUSTOMER (\underline{\text{CustomerID}}, CustomerName, CustomerEmail, CustomerTelephone)}$<br>
$\text{OFFICE (\underline{\text{OfficeID}}, Address, Telephone)}$<br>
$\text{SALE (\underline{\text{CustomerID*}}, \underline{\text{SalesPersonID*}}, SaleDate, Amount)}$<br>
$\text{SALESPERSON (\underline{\text{SalesPersonID}}, SalespersonName, OfficeID*)}$

Note: underline indicates primary key. An asterisk (*) indicates a foreign key.

- (a) Draw an Entity-Relationship (E-R) diagram to represent the data model. 
    <div style="text-align: right">[3]</div>
- (b) The following is a section of the data dictionary for the data model. It has three missing entries labelled **A**, **B** and **C**.
    <center>

    | Table | Field  | Data type| Validation
    |-|-|-|-|
    | `CUSTOMER` |`CustomerID` | Integer| Unique
    |`SALE`| `CustomerID`|Integer| **A**
    |`SALE`| `Saledate`| Date |
    |`SALE`| `Amount`| **B**| **C**
    
    </center>

    State a suitable entry for A, B and C. 
    <div style="text-align: right">[3]</div>
- (c) There is an address field in this database.
    Explain why storing the address as a single field is not good database design. 
    <div style="text-align: right">[3]</div>
Each month, a report is produced to show the sales for each salesperson. The following is a report for salesperson, B Chin.

<center>
<img src="img/database-bchin.png" width="600" align="center"/>
</center>

- (d) (i) To produce the report, the database uses the SaleDate and Amount fields in the SALE table.
    Name four other fields that the database uses to produce this report. 
    <div style="text-align: right">[4]</div>
- (d) (ii) State two features of a relational database management system which would be used to calculate and display the total for this salesperson. 
    <div style="text-align: right">[2]</div>

In [ ]:
#YOUR_ANSWER_HERE

## Exercise 16.3
Open the file `poly.db` found under the `resources` folder.
It contains information from Temasek Polytechnic Full-Time Enrolment Figures Breakdown, Annual dataset accessed on 23 March 2018 from Temasek Polytechnic which is made available under the terms of the Singapore Open Data Licence version 1.0 (http://www.data.gov.sg)
The database provides the enrolment in different polytechnic courses in Temasek Polytechnic (TP) by year and gender.

Try to give the SQL statement to generate the following.

1.	List the courses in TP that has more than 250 males in 2017.
2.	List the courses in TP that has no more than 50 females in 2016.
3.	List out all fields in the table for courses not in School of Informatics & IT in 2016.
4.	List the largest number of female(s) in a course in 2017.
5.	List the smallest number of male(s) in a course in 2016.
6.	Rename the all diplomas called ‘Diploma in Cyber & Digital Security’ to ‘Diploma in Cyber and Digital Security’.
7.	Update the table to add 5 students to each gender and each course in School of Design in 2017.

In [ ]:
#YOUR_ANSWER_HERE
1. SELECT course_name FROM enrolment WHERE gender='Male' AND count>250
2. SELECT course_name FROM enrolment WHERE gender='Female' AND count<=50
3. SELECT * FROM enrolment WHERE school IS NOT 'School of Informatics & IT' AND year=2016
4. SELECT max(count) FROM enrolment WHERE year = 2017 AND gender='Female'
5. SELECT min(count) FROM enrolment WHERE year=2016 AND gender='Male'
6. UPDATE enrolment SET course_name = 'Diploma in Cyber and Digital Security' WHERE course_name = 'Diploma in Cyber & Digital Security'
7. UPDATE enrolment SET count = count+5 WHERE year=2017 and school='School of Design'

## Exercise 16.4
Repeat Exercise 18.2 using the `sqlite3` module in Python.

In [ ]:
#YOUR_ANSWER_HERE

## Exercise 16.5  2020/A Level/P2/Q4 H2 Computing (Modified)
A school has usd a text file to store data collected about people who work at the school and students who attend the school. People who have a teaching role at the school are referred to as 'staff'. The school decides to transfer this information into a database.

A web page will then be used to summarise the data. Different information will be visible on the web page, depending on the type of person displayed.

### Task 1

Create an SQL file called `TASK4_1_<your name>_<center number>_<index number>.sql` to show the SQL code to create database `school.db` with the single table, `People`.

The table will have the following fields of the given SQLite types:
- `PersonID` - primary key, an auto-incremented integer
- `FullName` - the full name of the person, text
- `DateOfBirth` - the person's date of birth, text
- `ScreenName` - the person's screen name, text
- `IsAdult` - a Boolean using 0 for False and 1 for True, integer.

Save your SQL code as

`TASK4_1_<your name>_<center number>_<index number>.sql`     
<div style="text-align: right">[4]</div>

In [ ]:
#YOUR_ANSWER_HERE

### Task  2

The school wants to use the Python programming language and object-oriented programming to help publish the database content on a web page.

The class `Person` will store the following data:
- `full_name` - stored as a string
- `date_of_birth` - initiliased with a string with the format YYYY-MM–DD

The class has two methods defined on it:
- `is_adult()` - returns a Boolean value to indicate whether the person is an adult or not. It:
    - subtracts the year of the `date_of_birth` from the year of today's date
    – returns True if the result is greater than 18, otherwise returns False.

- `screen_name()` - returns a string which creates an identifier to be used as a screen name, which should be construted as follows:
    – the full name with all spaces and punctuation removed
    – followed by the two-digit month of their birth
    – then the two-digit day of their birth.

For example, John Tan, born on the $1^{\text{st}}$ of June 2000 (`“2000-06-01”`), would have the screen name `“JohnTan0601”`

Save your program code as

`TASK4_2_<your name>_<centre number>_<index number>.py`     
<div style="text-align: right">[7]</div>

In [ ]:
#YOUR_ANSWER_HERE

The `Staff` class inherits from `Person`, such that:
- `screen_name()` should be the name followed by `“Staff”`
- `is_adult()` always returns True.

The `Student` class inherits from `Person`, such that the `is_adult()` method always returns False.

Add your program code to

`TASK4_2_<your name>_<centre number>_<index number>.py`     
<div style="text-align: right">[4]</div>

The text file, `people.txt`, contains data items for a number of people. Each data item is separated by a comma, with each person's data on a new line as follows:
- full name
- date of birth in the form YYYY-MM-DD
- a string indicating whether the person is `“Staff”`, `“Student”` or `“Person”`.

Write program code to read in the information from the text file, `people.txt`, creating instance of the appropriate class for each person (either `Staff`, `Student` or `Person`).     
<div style="text-align: right">[4]</div>

Write program code to insert all information from the file into the `school.db` database.

Run the program.

Add your program code to

`TASK4_2_<your name>_<centre number>_<index number>.py`    
<div style="text-align: right">[8]</div>

In [ ]:
#YOUR_CODE_HERE